// Dark Mode

$white : #fff;
$black: #000;
$salmon: salmon;
$scss: #cd6799;
$linkedin: #007785;
$twitter: #09f;
$instagram: #fd8738;
$grey: #ccc;
$para-grey: #999999;
$transparent-blog: #2826267c;
$bg-darkblue: #000f1a;
$cobg-blue: #012842;
$darkcyan: #387;
$icon: #5a8;
$violet: blueviolet;
$yellow: yellow;

// Light Mode

$light-bk: #d9e3f3;
// $light-bk: linear-gradient(to bottom right, #dd95f7 0%, #9aadf9 50% , #7fc9d9);
$light-bk: whitesmoke;
$light-darkblue: #063657;
$light-transparent: #0128425b;
$light-darkcyan: #387;
$light-icon: #a2e6ca;   